/*
NOTE: All of Gate One's dynamically-loaded CSS uses relative font sizes (e.g. 1em or 100%).  The general font size of the document also controls the size of the SVG graphics.

If you embed Gate One into your app and the fonts/icons appear too small you can adjust this without having to adjust *all* the other font sizes by passing the fontSize parameter to Gate One when it is initialized.  There's an example of this in templates/index.html.
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}
html, body { min-height:100%; }
body {
    padding: 0 0 0px;
    background-color: #333;
    color: #fff;
}