[Unit]
Description=Web-based terminal
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/tmp/gateone.pid
WorkingDirectory=/var/lib/gateone
ExecStart=gateone
Restart=on-abort

[Install]
WantedBy=multi-user.target
