<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gate One - {{hostname}}</title>
    <link rel="stylesheet" href="/static/gateone.css" type="text/css" media="screen" />
    <!-- Begin CSS files from plugins -->
{% for cssplugin in cssplugins %}
    <link rel="stylesheet" href="{{cssplugin}}" type="text/css" media="screen" />
{% end %}
    <!-- End CSS files from plugins -->
</head>
<body>
<!-- This crypto stuff will be used in the future -->
<!-- <script type="text/javascript" src="/static/crypto-md5.js"></script> -->
<script type="text/javascript" src="{{gateone_js}}"></script>
<!-- Begin JS files from plugins -->
{% for jsplugin in jsplugins %}
<script type="text/javascript" src="{{jsplugin}}"></script>
{% end %}
<!-- End JS files from plugins -->
<div id="gateone"></div>
<script>
window.onload = function() {
    // Commented out below are a few examples of the various ways you can initialize Gate One...
    // Init GateOne using the built-in black CSS scheme with a specific back-end to connect to (for the WebSocket):
//     GateOne.init({url: 'https://shell.mycompany.com/', scheme: 'black'});
    // Vanilla GateOne init():
    GateOne.init();
    // Here's an example that limits the size of the #gateone element to demonstrate
    // how it can be embedded into another app/page...
//     GateOne.init({fillContainer: false, style: {'width': '50em', 'height': '32em'}, scheme: 'white'});
    // For this to work you just need to make sure the page has loaded the gateone.js script.
}
</script>
<audio id="bell" preload="auto"> <!-- This is used for the system bell -->
  <source src="{{bell_data_uri}}" type="audio/ogg" />
</audio>

</body>
</html>