/* Gate One black theme */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('{{url_prefix}}static/ubuntumono-bold.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('{{url_prefix}}static/ubuntumono-normal.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: bold;
  src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url('{{url_prefix}}static/ubuntumono-bold-italic.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: normal;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url('{{url_prefix}}static/ubuntumono-italic.woff') format('woff');
}
hr {
    margin: 0;
    padding: 0;
}
#{{container}} {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.1em;
    z-index: 0;
    font-size: 1em;
    /* WebKit */
    -webkit-transform-origin: top right;
    -webkit-transition: all 1s ease-in-out;
    /* Firefox */
    -moz-transition: all 1s ease-in-out;
    -moz-transform-origin: top right;
    /* Opera */
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    /* IE 9+ */
    -ms-transform-origin: top right;
    -ms-transition: all 1s ease-in-out;
    /* Future CSS3 standard */
    transform-origin: top right;
    transition: all 1s ease-in-out;
}
#{{container}} .pointer {
    cursor: pointer;
}
#{{container}} .about_gateone ul {
    list-style-type: none;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#{{container}} .about_gateone li:before {
    content: "⎚ ";
}
#{{container}} .centertrans { /* Just sets the transform-origin to "center center" */
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
#{{container}} .toprighttrans { /* Just sets the transform-origin to "top right" */
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}
#{{container}} .twosectrans {
    -webkit-transform-origin: top right;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -moz-transform-origin: top right;
    -o-transition-property: all;
    -o-transition-duration: 2s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    -ms-transform-origin: top right;
    -ms-transition: all 2s ease-in-out;
    transform-origin: top right;
    transition: all 2s ease-in-out;
}
#{{container}} .sectrans {
    -webkit-transform-origin: top right;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -moz-transform-origin: top right;
    -o-transition-property: all;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    -ms-transform-origin: top right;
    -ms-transition: all 1s ease-in-out;
    transform-origin: top right;
    transition: all 1s ease-in-out;
}
#{{container}} .sectransform {
    /* For only transform effects */
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform-origin: top right;
    -o-transition-property: -o-transform;
    -o-transition-duration: 1s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    -ms-transform-origin: top right;
    -ms-transition: -ms-transform 1s ease-in-out;
    transform-origin: top right;
    transition: transform 1s ease-in-out;
}
#{{container}} .halfsectrans {
    -webkit-transform-origin: top right;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -moz-transform-origin: top right;
    -o-transition-property: all;
    -o-transition-duration: 0.5s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    -ms-transform-origin: top right;
    -ms-transition: all 0.5s ease-in-out;
    transform-origin: top right;
    transition: all 0.5s ease-in-out;
}
#{{container}} .quartersectrans {
    -webkit-transform-origin: top right;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -moz-transform-origin: top right;
    -o-transition-property: all;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: right top;
    -ms-transform-origin: top right;
    -ms-transition: all 0.25s ease-in-out;
    transform-origin: top right;
    transition: all 0.25s ease-in-out;
}
#{{container}} .superfasttrans {
    -webkit-transform-origin: top left;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -moz-transform-origin: top left;
    -o-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-timing-function: ease-in-out;
    -o-transform-origin: left top;
    -ms-transform-origin: top right;
    -ms-transition: all 0.1s ease-in-out;
    transform-origin: top left;
    transition: all 0.1s ease-in-out;
}
#{{container}} .origintopmiddle {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
#{{container}} .originbottommiddle {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
#{{container}} textarea {
    background-color: #fff;
    outline: none;
    resize: none;
    font-family: 'Ubuntu Mono', monospace; /* For consistency */
    line-height: 1;
}
#{{container}} .terminal {
    line-height: 1;
    background-color: #222; /* Not quite black so we can use shadows :) */
    color: #eee;
    position: static;
    float: left;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}
#{{container}} .terminal a {
    color: #90A3C5;
}
#{{container}} .terminal a:visited {
    color: #90A3C5;
}
#{{container}} .terminal pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.9em; /* For some reason when you use a .woff font it seems to show up slightly larger than it would normally */
    line-height: 1;
    /*height: auto;*/ /* Needs to be 100% when scrollback is enabled */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}
/* 256-color support is generated by gateone.js and shouldn't change (because they're very specific--unlike generic colors like "Yellow") */
{{colors_256}}
#{{container}} span.cursor { color: #000; background-color: #ccc; }
#{{prefix}}toolbar {
    z-index:600;
    position:absolute;
    top:0;
    right:1.2em;
    color: #fff;
    text-align: right;
}
#{{container}} .toolbar {
    float: right;
    clear: both;
    opacity: .75;
    margin-top: 0.5em;
    -webkit-transition: -webkit-transform 1.0s ease-in-out;
    -moz-transition: -moz-transform 1.0s ease-in-out;
    -ms-transition: -ms-transform 1.0s ease-in-out;
    -o-transition: -o-transform 1.0s ease-in-out;
    transition: transform 1.0s ease-in-out;
}
#{{container}} .toolbar:hover {
    opacity: 1;
    cursor:pointer;
}
#{{container}} .toolbar:target {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#{{prefix}}infocontainer {
    -webkit-transition: all 2.0s ease-in-out;
    -moz-transition: all 2.0s ease-in-out;
    -o-transition: all 2.0s ease-in-out;
    transition: all 2.0s ease-in-out;
    display: block;
    position: absolute;
    bottom: 50%;
    right: 50%;
    border: 1px #FFF solid;
    background-color: #000;
    z-index: 500;
    padding: 0.5em;
}
#{{prefix}}noticecontainer {
    display: block;
    position: absolute;
    bottom: 2em;
    right: 3em;
    z-index: 9999;
}
#{{prefix}}terminfo {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}
#{{container}} .pastearea {
    font-family: monospace;
    display: block;
    color: transparent;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1.5em;
    padding: 0;
    right: 3em;
    z-index: 500;
    margin: 0;
    opacity: 0;
    width: 96%; /* For whatever reason Firefox needs the width/height set */
    height: 97%;
}
/* This is to work around a Chrome/Windows bug where pasting gets disabled if you use JS to set display: none */
#{{container}} .go_none { /* No prefix on this one because of issues with that in the JS code */
    display: none;
}
#{{container}} .sideinfo {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: right bottom;
    transform: rotate(90deg);
    transform-origin: right bottom;
    right: 1.9em;
    bottom: 0;
    color: white;
    position: absolute;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.3em;
    opacity: 0.5;
    font-weight: bold;
    margin-bottom: 0.1em;
    z-index: 10;
}
#{{prefix}}notice {
    -webkit-transition: all 5.0s ease-in-out;
    -moz-transition: all 5.0s ease-in-out;
    -ms-transition: all 5.0s ease-in-out;
    -o-transition: all 5.0s ease-in-out;
    transition: all 5.0s ease-in-out;
    color: #fff;
    background-color: rgba(34,34,34,0.8);
    font-weight: bold;
    font-size: 1.1em;
    border: 1px #FFF solid;
    padding: 0.5em;
    margin: 1em;
}
#{{container}} .sidepanel {
    -webkit-transition: -webkit-transform 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}
#{{container}} .panel {
    position:absolute;
    top:1em;
    right:3.4em;
    display: block;
    background: #ccc; color: #000;
    font-family: sans-serif;
    z-index: 700; /* Same as toolbar */
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.25em;
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    -webkit-transform: scale(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transform: scale(0);
    -moz-transition: all 0.5s ease-in-out;
    -moz-transform-origin: top right;
    -ms-transform: scale(0);
    -ms-transition: all 0.5s ease-in-out;
    -ms-transform-origin: top right;
    -o-transform: scale(0);
    -o-transition: all 0.5s ease-in-out;
    -o-transform-origin: top right;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.2em 0.2em 0.5em #000;
    background-image: -moz-linear-gradient(#eee, #999);
    background-image: -webkit-linear-gradient(#eee, #999);
    background-image: -ms-linear-gradient(#eee, #999);
    background-image: -o-linear-gradient(#eee, #999);
    border: 0.1em #fff outset;
    border-radius: 0.5em;
}
#{{container}} .panel h2 {
    font-size: 1.5em;
    border-bottom: 0.1em #000 solid;
    position: relative;
    margin-bottom: 0.2em;
}
#{{container}} .panel h3 {
    font-size: 1.2em;
    border-bottom: 0.1em #000 solid;
    position: relative;
    margin-bottom: 0.2em;
}
#{{container}} .panel a {
    color: #1F5470;
    text-decoration: none;
    font-weight: bold;
}
#{{container}} .panel a:hover {
    color: maroon;
    cursor: pointer;
}
#{{container}} .panel a:visited {
    color: #1F5470;
}
#{{container}} .paneltable {
    position: relative;
    width: 100%;
    background-color: #222;
    color: #000;
    padding-bottom: 0.5em;
    margin-bottom: 0.2em;
    border: 0.1em #000 solid;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    background-image: -moz-linear-gradient(#fff, #ccc);
    background-image: -webkit-linear-gradient(#fff, #ccc);
    background-image: -ms-linear-gradient(#fff, #ccc);
    background-image: -o-linear-gradient(#fff, #ccc);
    background-image: linear-gradient(#fff, #ccc);
}
#{{container}} .paneltablerow {
    display: table-row;
    padding-bottom: 0.3em;
}
#{{container}} .paneltablerow select, input {
/*     margin-right: 1em; */
}
#{{container}} .paneltablelabel {
    display: table-cell;
    width: 75%;
    vertical-align: middle;
    padding-top: 0.2em;
}
#{{container}} .paneltablecell {
    display: table-cell;
    padding-left: 1em;
}
#{{container}} .panel_close_icon {
    position: absolute;
    opacity: .75;
    right: 0;
    top: 0;
    padding: 0.2em;
}
#{{container}} .panel_close_icon:hover {
    opacity: 1;
    cursor:pointer;
}
#{{container}} form { margin: 0 0 1em; }
#{{container}} label {
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-top: 0.2em;
}
#{{container}} button, input.input-text, input.password, input.button, textarea {
    font-family: sans-serif;
}

#{{container}} input.input-text, input.password, textarea {
    display: block;
    background: transparent;
    margin: 0 0 0.5em;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-family: sans-serif;
    color: #000;
    position: relative;
    z-index: 2;
    font-size: 1em;
}

#{{container}} form input.input-text:focus, form textarea:focus {
    outline: none;
    border-color: #999;
    color: #333;
    padding: 2px 3px;
    border: 2px solid #2daebf;
}

#{{container}} label.inlined {
    padding: 0.2em 0 0.2em 0.4em;
    font-weight: normal;
    font-size: 1em;
    font-family: sans-serif;
    color: #aaa;
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -ms-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
    background: #fff;
    width: 98%;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}
#{{container}} label.focus { color: #ccc; }
#{{container}} label.has-text {
    color: #fff;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
#{{container}} input.input-text-plain {
    width: 98%;
    background-color: #fff;
    color: #000;
    font-size: 1em;
}
#{{container}} textarea.input-text-plain {
    width: 98%;
    height: 5em;
    background-color: #fff;
    color: #000;
}
#{{container}} label.inlined + input.input-text {
    margin-top: -1.6em;
    font-weight: normal;
    width: 98%;
}
#{{container}} label.inlined + textarea.input-text {
    margin-top: -5.6em;
    width: 98%;
    height: 5em;
    font-size: 1.2em;
}
#{{container}} .medium {
    height: 5em;
}
#{{container}} .button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .2em 0.5em .25em;
    margin-right: 0.25em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-weight: bold;
    font-size: 0.9em;
}
#{{container}} .button:hover {
    text-decoration: none;
}
#{{container}} .button:active {
    position: relative;
}
/* black buttons */
#{{container}} .black {
    color: #FFF;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    background: -o-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
#{{container}} .black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    background: -o-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
#{{container}} .black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    background: -o-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
#{{container}} .black:focus {
    color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    background: -o-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
#{{prefix}}user_info {
    font-size: 0.8em;
    padding-bottom: 0.25em;
    text-align: right;
}
#{{prefix}}user_info a:hover {
    cursor: pointer;
}
#{{container}} .dialogcontainer {
    font-family: sans-serif;
    position: fixed;
    overflow-x: hidden;
    top: 25%;
    left: 25%;
    background-color: #CCC;
    max-width: 50%;
    max-height: 75%;
    z-index: 750;
    border: solid 1px #000;
    color: #000;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em #000;
    background-image: -moz-linear-gradient(#eee, #aaa);
    background-image: -webkit-linear-gradient(#eee, #aaa);
    background-image: -ms-linear-gradient(#eee, #aaa);
    background-image: -o-linear-gradient(#eee, #aaa);
}
#{{container}} .dialogcontainer h3 {
    background-color: #1F5470;
    color: #fff;
    padding-left: 0.5em;
    line-height: 1.5;
    margin-top: 0;
    padding-right: 1.5em; /* Making room for the X */
    padding-left: 1.5em; /* Balancing it out so the title stays centered */
    text-align: center;
    font-size: 1.1em;
    border-radius: 0.25em 0.25em 0 0;
}
#{{container}} .dialogcontainer textarea {
    margin-right: 1.3em;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    color: #000;
    position: relative;
}
#{{container}} .dialogcontainer input {
    margin-right: 1.3em;
    margin-bottom: 0.2em;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    color: #000;
    position: relative;
    display: block;
    width: 99%;
}
#{{container}} .dialogcontainer label {
    font-size: 1.2em;
    padding-top: 0.5em;
    display: inline-block;
    font-family: sans-serif;
}
#{{prefix}}dialogtitle:hover {
    cursor: move;
}
/* dialogdiv wraps dialogcontent with this "left: 50%" and "left: -50%" mixture to ensure that everything stays centered. */
#{{prefix}}dialogdiv {
    float: left;
    position: relative;
    left: 50%;
    width: 95%;
}
#{{prefix}}dialogcontent {
    float: left;
    position: relative;
    left: -50%;
    width: 100%;
}
#{{prefix}}dialog_close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.2em;
    margin-right: 0.2em;
    cursor: pointer;
    opacity: .75;
}
#{{prefix}}dialog_close:hover {
    text-shadow: 0.1em 0.1em 0.1em #000;
    opacity: 1;
}
#{{prefix}}dialog_form input {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    display: block;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: 0 1px 1px #fff;
    color: #000;
    position: relative;
    z-index: 2;
    font-size: 1em;
}
#{{container}} .widgetcontainer {
    font-family: sans-serif;
    position: absolute;
    overflow: hidden;
    top: 10%;
    left: 70%;
    background-color: transparent;
    max-width: 50%;
    max-height: 75%;
    z-index: 750;
}
#{{container}} .widgetcontainer:hover {
    cursor: move;
}
#{{container}} .widgetcontainer h3 {
    background-color: transparent;
    color: #fff;
    padding-left: 0.5em;
    line-height: 1.5;
    margin-top: 0;
    padding-right: 1.5em; /* Making room for the X */
    padding-left: 1.5em; /* Balancing it out so the title stays centered */
    text-align: center;
    font-size: 1.1em;
    /* Hidden by default */
    opacity: 0;
}
#{{container}} .widgetcontainer textarea {
    margin-right: 1.3em;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    color: #000;
    position: relative;
}
#{{container}} .widgetcontainer input {
    margin-right: 1.3em;
    margin-bottom: 0.2em;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    color: #000;
    position: relative;
    display: block;
    width: 99%;
}
#{{container}} .widgetcontainer label {
    font-size: 1.2em;
    padding-top: 0.5em;
    display: inline-block;
    font-family: sans-serif;
}
#{{prefix}}widgettitle:hover {
    cursor: move;
}
/* widgetdiv wraps widgetcontent with this "left: 50%" and "left: -50%" mixture to ensure that everything stays centered. */
#{{prefix}}widgetdiv {
    float: left;
    position: relative;
    left: 50%;
    width: 100%;
}
#{{prefix}}widgetcontent:hover {
    border: solid 1px #000;
}
#{{prefix}}widgetcontent {
    float: left;
    position: relative;
    left: -50%;
    width: 100%;
    border: solid 1px transparent;
}
#{{prefix}}widget_close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.2em;
    margin-right: 0.2em;
    cursor: pointer;
    opacity: .75;
}
#{{prefix}}widget_close:hover {
    text-shadow: 0.1em 0.1em 0.1em #000;
    opacity: 1;
}
#{{prefix}}widget_configure {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.2em;
    margin-left: 0.2em;
    cursor: pointer;
    opacity: .75;
}
#{{prefix}}widget_configure:hover {
    text-shadow: 0.1em 0.1em 0.1em #000;
    opacity: 1;
}
#{{prefix}}widget_form input {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    display: block;
    padding: 0.2em 0.2em;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: 0 1px 1px #fff;
    color: #000;
    position: relative;
    z-index: 2;
    font-size: 1em;
}
#{{container}} .table_row {
    display: table-row;
    height: 1.2em;
    overflow: hidden;
    color: #000;
    border: 0.1em #000 solid;
    font-size: 0.9em;
    white-space: nowrap;
}
#{{container}} .active.table_row {
    -webkit-transform: skew(-10deg) translate(0.5%);
    -moz-transform: skew(-10deg) translate(0.5%);
    -ms-transform: skew(-10deg) translate(0.5%);
    -o-transform: skew(-10deg) translate(0.5%);
    transform: skew(-10deg) translate(0.5%);
}
#{{container}} .table_cell {
    display: table-cell;
    max-width: 13em;
    padding-right: 0.5em;
    background-image: -moz-linear-gradient(top, #fff, rgba(200, 200, 200, 0.5));
    background-image: -webkit-linear-gradient(top, #fff, rgba(200, 200, 200, 0.5));
    background-image: -o-linear-gradient(top, #fff, rgba(200, 200, 200, 0.5));
    background-image: -ms-linear-gradient(top,  #fff, rgba(200, 200, 200, 0.5));
    background-image: linear-gradient(top,  #fff, rgba(200, 200, 200, 0.5));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#{{container}} .table_header_row {
    display: table-header-group;
    font-weight: bold;
    font-size: 1.1em;
}
#{{container}} .table_header_cell {
    color: #1F5470;
    background-image: none;
    background: none;
}
#{{container}} .table_header_cell.active {
    color: maroon;
}
#{{container}} .table_header_cell:hover {
    color: maroon;
    cursor: pointer;
    background-color: #fff;
}
#{{container}} .metadata_row {
    display: table-row;
    height: 1.2em;
    overflow: hidden;
    border: 0.1em #000 solid;
    font-size: 0.9em;
}
#{{container}} .metadata_value {
    display: table-cell;
    padding-right: 0.5em;
}
#{{container}} .metadata_title {
    display: table-cell;
    font-weight: bold;
    padding-right: 0.5em;
    text-align: right;
    vertical-align: top;
    width: 50%; /* Ensures things are centered */
}
/* SVG Styling */
.svgtext { letter-spacing:0px; text-anchor:middle; word-spacing:0px; text-align:center; color: #FFF; fill: #fff; }
.svgplugin { fill: #FFF; }
.stop1 { stop-color: #FFF; }
.stop2 { stop-color: #E1E2E3; }
.stop3 { stop-color: #D3D4D6; }
.stop4 { stop-color: #CACBCD; }
.panelstop1 { stop-color: #2A5BA6; } /* Note: Same by default in both black and white */
.panelstop2 { stop-color: #2D61B4; }
.panelstop3 { stop-color: #2E63B9; }
.panelstop4 { stop-color: #1F5470; }
/* Change the styling of the SVG close icon so it is white when inside dialogs */
#{{prefix}}dialogtitle .panelstop1 { stop-color: #FFF; }
#{{prefix}}dialogtitle .panelstop2 { stop-color: #CCC; }
#{{prefix}}dialogtitle .panelstop3 { stop-color: #DDD; }
#{{prefix}}dialogtitle .panelstop4 { stop-color: #FFF; }
/* Ditto for widgets */
#{{prefix}}widgettitle .panelstop1 { stop-color: #FFF; }
#{{prefix}}widgettitle .panelstop2 { stop-color: #CCC; }
#{{prefix}}widgettitle .panelstop3 { stop-color: #DDD; }
#{{prefix}}widgettitle .panelstop4 { stop-color: #FFF; }

/* Plugin-specific CSS (will get ignored if plugin is missing) */
#{{prefix}}playbackControls {
    padding: 0;
    border: 0;
}
#{{prefix}}controlsContainer {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0;
    white-space: normal;
    padding: 0;
    border: 0;
    left: 0;
    right: 2em;
    font-family: 'Ubuntu Mono', monospace;
}
#{{prefix}}playPause {
    float: left;
    color: #fff;
    opacity: 0.7;
    font-size: 1em;
    margin-left: 0.3em;
}
#{{prefix}}playPause:hover {
    cursor: pointer;
}
#{{prefix}}progressBar {
    background: #000;
    padding: 0;
    margin: 1px;
    border: 0;
    width: 0%;
    height: 5px;
}
#{{prefix}}progressBarContainer {
    position: absolute;
    bottom: 0;
    right: 5em;
    left: 1.4em;
    margin-bottom: 0.25em;
    background: #fff;
    border: 0;
    opacity: 0.7;
}
#{{prefix}}clock {
    color: #fff;
    opacity: 0.7;
    font-size: 0.7em;
    position: absolute;
    right: 1em;
    bottom: 0.1em;
}
