/* NOTE: I've only done the black-on-whatever permutation because it seems to be the only special permutation that makes a difference.  If anyone feels we need such fine-tuning of *all* foreground/background combinations please submit a ticket to the issue tracker (and be prepared to hear complaints about repetitive stress injuries!) */
/* 8-color Foregrounds */
#{{container}} span.f0 { color: #5C5C5C; } /* Black */
#{{container}} span.f1 { color: #D6292C; } /* Red */
#{{container}} span.f2 { color: #13A110; } /* Green */
#{{container}} span.f3 { color: #E9E900; } /* Yellow */
#{{container}} span.f4 { color: #1B4CFF; } /* Blue */
#{{container}} span.f5 { color: #E01DC6; } /* Magenta */
#{{container}} span.f6 { color: #28AAA8; } /* Cyan */
#{{container}} span.f7 { color: #eee; } /* White */
/* 8-color Foregrounds on 8-color Backgrounds */
#{{container}} span.f0.b0 { color: #444; background-color: #000; } /* Black on Black */
#{{container}} span.f0.b1 { color: #000; background-color: #B21818; } /* Black on Red */
#{{container}} span.f0.b2 { color: #000; background-color: green; } /* Black on Green */
#{{container}} span.f0.b3 { color: #000; background-color: #FFFF00; } /* Black on Yellow */
#{{container}} span.f0.b4 { color: #000; background-color: #1818B2; } /* Black on Blue */
#{{container}} span.f0.b5 { color: #000; background-color: #B218B2; } /* Black on Magenta */
#{{container}} span.f0.b6 { color: #000; background-color: #18B2B2; } /* Black on Cyan */
#{{container}} span.f0.b7 { color: #000; background-color: #B2B2B2; } /* Black on White */
/* 8-color Foregrounds with 'bright' (16-color) Backgrounds */
#{{container}} span.f0.bb0 { color: #444; background-color: #000; } /* Black on Black */
#{{container}} span.f0.bb1 { color: #000; background-color: #B21818; } /* Black on Bright Red */
#{{container}} span.f0.bb2 { color: #000; background-color: #00E40C; } /* Black on Bright Green */
#{{container}} span.f0.bb3 { color: #000; background-color: #FFFF00; } /* Black on Bright Yellow */
#{{container}} span.f0.bb4 { color: #000; background-color: #1818B2; } /* Black on Bright Blue */
#{{container}} span.f0.bb5 { color: #000; background-color: #B218B2; } /* Black on Bright Magenta */
#{{container}} span.f0.bb6 { color: #000; background-color: #18B2B2; } /* Black on Bright Cyan */
#{{container}} span.f0.bb7 { color: #000; background-color: #B2B2B2; } /* Black on Bright White */
/* 8-color Backgrounds */
#{{container}} span.b0  { background-color: #000; } /* Black (used when the rendition is set to 49) */
#{{container}} span.b1  { background-color: #B21818; } /* Red */
#{{container}} span.b2  { background-color: green; } /* Green */
#{{container}} span.b3  { background-color: #FFFF00; } /* Yellow */
#{{container}} span.b4  { background-color: #1818B2; } /* Blue */
#{{container}} span.b5  { background-color: #B218B2; } /* Magenta */
#{{container}} span.b6  { background-color: #18B2B2; } /* Cyan */
#{{container}} span.b7  { background-color: #B2B2B2; } /* White */
/* Reversed Foregrounds */
#{{container}} span.reverse { color: #000; background-color: #ccc; } /* Black on White (since this is the "Black" CSS) */
#{{container}} span.reverse.f0 { color: #444; background-color: #000; } /* Black on Black (#444 so you can still read it)*/
#{{container}} span.reverse.f1 { color: #000; background-color: #D6292C; } /* Red on Black */
#{{container}} span.reverse.f2 { color: #000; background-color: green; } /* Green on Black */
#{{container}} span.reverse.f3 { color: #000; background-color: #BDC000; } /* Yellow on Black */
#{{container}} span.reverse.f4 { color: #000; background-color: #1B4CFF; } /* Blue on Black */
#{{container}} span.reverse.f5 { color: #000; background-color: #E01DC6; } /* Magenta on Black */
#{{container}} span.reverse.f6 { color: #000; background-color: #28AAA8; } /* Cyan on Black */
#{{container}} span.reverse.f7 { color: #000; background-color: #eee; } /* White on Black */
/* 16-color ('Bright') Foregrounds */
#{{container}} span.bf0 { color: #5C5C5C; } /* Bright Black!  I never knew thee existed! */
#{{container}} span.bf1 { color: #D6292C; } /* Bright Red */
#{{container}} span.bf2 { color: #13A110; } /* Bright Green */
#{{container}} span.bf3 { color: #E9E900; } /* Bright Yellow */
#{{container}} span.bf4 { color: #1B4CFF; } /* Bright Blue */
#{{container}} span.bf5 { color: #E01DC6; } /* Bright Magenta */
#{{container}} span.bf6 { color: #28AAA8; } /* Bright Cyan */
#{{container}} span.bf7 { color: #eee; } /* Bright White (use this on dentures) */
#{{container}} span.bf0.bb1 { color: #000; background-color: #B21818; } /* Bright Black on Bright Red */
#{{container}} span.bf0.bb2 { color: #000; background-color: #00E40C; } /* Bright Black on Bright Green */
#{{container}} span.bf0.bb3 { color: #000; background-color: #FFFF00; } /* Bright Black on Bright Yellow */
#{{container}} span.bf0.bb4 { color: #000; background-color: #1818B2; } /* Bright Black on Bright Blue */
#{{container}} span.bf0.bb5 { color: #000; background-color: #B218B2; } /* Bright Black on Bright Magenta */
#{{container}} span.bf0.bb6 { color: #000; background-color: #18B2B2; } /* Bright Black on Bright Cyan */
#{{container}} span.bf0.bb7 { color: #000; background-color: #B2B2B2; } /* Bright Black on Bright White */
/* 16-color ('Bright') Backgrounds */
#{{container}} span.bb0  { background-color: #000; } /* Bright Black */
#{{container}} span.bb1  { background-color: #B21818; } /* Bright Red */
#{{container}} span.bb2  { background-color: #00E40C; } /* Bright Green */
#{{container}} span.bb3  { background-color: #FFFF00; } /* Bright Yellow */
#{{container}} span.bb4  { background-color: #1818B2; } /* Bright Blue */
#{{container}} span.bb5  { background-color: #B218B2; } /* Bright Magenta */
#{{container}} span.bb6  { background-color: #18B2B2; } /* Bright Cyan */
#{{container}} span.bb7  { background-color: #B2B2B2; } /* Bright White */
/* Reversed Foregrounds */
#{{container}} span.reverse { color: #000; background-color: #ccc; } /* Black on White */
#{{container}} span.reverse.bf0 { color: #000; background-color: #ccc; } /* Black */
#{{container}} span.reverse.bf1 { color: #000; background-color: #D6292C; } /* Red */
#{{container}} span.reverse.bf2 { color: #000; background-color: #13A110; } /* Green */
#{{container}} span.reverse.bf3 { color: #000; background-color: #BDC000; } /* Yellow */
#{{container}} span.reverse.bf4 { color: #000; background-color: #1B4CFF; } /* Blue */
#{{container}} span.reverse.bf5 { color: #000; background-color: #E01DC6; } /* Magenta */
#{{container}} span.reverse.bf6 { color: #000; background-color: #28AAA8; } /* Cyan */
#{{container}} span.reverse.bf7 { color: #000; background-color: #eee; } /* White */
#{{container}} span.encircle {
    border: .1em;
    border-radius: .7em;
    -moz-border-radius: 1em;
    display: inline-block;
    margin-right: -0.15em; /* Because we scale it down to make the box normal-sized we have to move it to the left slightly to have it line up properly */
    border-color: #BBB;
    border-style: solid;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.rightline {
    border-right: .2em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    margin-right: -0.2em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.rightdoubleline {
    border-right: .3em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: double;
    margin-right: -0.3em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.leftline {
    border-left: .2em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-style: solid;
    margin-right: -0.2em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.leftdoubleline {
    border-left: .3em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-style: double;
    margin-right: -0.3em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.bold { font-weight: bold; }
#{{container}} span.dim { opacity: 0.7; }
#{{container}} span.hidden { color: transparent !important;}
#{{container}} span.underline { text-decoration: underline; }
#{{container}} span.overline { text-decoration: overline; }
#{{container}} span.italic { font-style: italic; }
#{{container}} span.strike { text-decoration: line-through; }
#{{container}} span.frame {
    /* An inset shadow emulates a border without making the box bigger */
    -moz-box-shadow: inset 0.1em 0.1em 0.3em #000;
    -webkit-box-shadow: inset 0.1em 0.1em 0.3em #000;
    box-shadow: inset 0.1em 0.1em 0.3em #000;
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
#{{container}} span.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 1s;
}
#{{container}} span.fastblink {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 0.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 0.5s;
}