/* Foregrounds */
#{{container}} span.f0 { color: #073642; } /* Black */
#{{container}} span.f1 { color: #dc322f; } /* Red */
#{{container}} span.f2 { color: #859900; } /* Green */
#{{container}} span.f3 { color: #b58900; } /* Yellow */
#{{container}} span.f4 { color: #268bd2; } /* Blue */
#{{container}} span.f5 { color: #d33682; } /* Magenta */
#{{container}} span.f6 { color: #2aa198; } /* Cyan */
#{{container}} span.f7 { color: #eee8d5; } /* White */
#{{container}} span.bf0 { color: #002b36; } /* Bright Black */
#{{container}} span.bf1 { color: #cb4b16; } /* Bright Red */
#{{container}} span.bf2 { color: #586e75; } /* Bright Green */
#{{container}} span.bf3 { color: #657b83; } /* Bright Yellow */
#{{container}} span.bf4 { color: #839496; } /* Bright Blue */
#{{container}} span.bf5 { color: #6c71c4; } /* Bright Magenta */
#{{container}} span.bf6 { color: #93a1a1; } /* Bright Cyan */
#{{container}} span.bf7 { color: #fdf6e3; } /* Bright White */
/* Backgrounds */
#{{container}} span.b0 { background-color: #073642; } /* Black */
#{{container}} span.b1 { background-color: #dc322f; } /* Black on Red */
#{{container}} span.b2 { background-color: #859900; } /* Black on Green */
#{{container}} span.b3 { background-color: #b58900; } /* Black on Yellow */
#{{container}} span.b4 { background-color: #268bd2; } /* Black on Blue */
#{{container}} span.b5 { background-color: #d33682; } /* Black on Magenta */
#{{container}} span.b6 { background-color: #2aa198; } /* Black on Cyan */
#{{container}} span.b7 { background-color: #eee8d5; } /* Black on White */
#{{container}} span.bb0 { background-color: #002b36; } /* Bright Black */
#{{container}} span.bb1 { background-color: #cb4b16; } /* Bright Red */
#{{container}} span.bb2 { background-color: #586e75; } /* Bright Green */
#{{container}} span.bb3 { background-color: #657b83; } /* Bright Yellow */
#{{container}} span.bb4 { background-color: #839496; } /* Bright Blue */
#{{container}} span.bb5 { background-color: #6c71c4; } /* Bright Magenta */
#{{container}} span.bb6 { background-color: #93a1a1; } /* Bright Cyan */
#{{container}} span.bb7 { background-color: #fdf6e3; } /* Bright White */
/* Reversed */
#{{container}} span.reverse { color: #002b36; background-color: #839496; }
/* Reversed Foregrounds */
#{{container}} span.reverse.f0 { background-color: #073642; } /* Black */
#{{container}} span.reverse.f1 { background-color: #dc322f; } /* Black on Red */
#{{container}} span.reverse.f2 { background-color: #859900; } /* Black on Green */
#{{container}} span.reverse.f3 { background-color: #b58900; } /* Black on Yellow */
#{{container}} span.reverse.f4 { background-color: #268bd2; } /* Black on Blue */
#{{container}} span.reverse.f5 { background-color: #d33682; } /* Black on Magenta */
#{{container}} span.reverse.f6 { background-color: #2aa198; } /* Black on Cyan */
#{{container}} span.reverse.f7 { background-color: #eee8d5; } /* Black on White */
#{{container}} span.reverse.bf0 { background-color: #002b36; } /* Bright Black */
#{{container}} span.reverse.bf1 { background-color: #cb4b16; } /* Bright Red */
#{{container}} span.reverse.bf2 { background-color: #586e75; } /* Bright Green */
#{{container}} span.reverse.bf3 { background-color: #657b83; } /* Bright Yellow */
#{{container}} span.reverse.bf4 { background-color: #839496; } /* Bright Blue */
#{{container}} span.reverse.bf5 { background-color: #6c71c4; } /* Bright Magenta */
#{{container}} span.reverse.bf6 { background-color: #93a1a1; } /* Bright Cyan */
#{{container}} span.reverse.bf7 { background-color: #fdf6e3; } /* Bright White */
/* Reversed Backgrounds */
#{{container}} span.reverse.b0 { color: #073642; } /* Black */
#{{container}} span.reverse.b1 { color: #dc322f; } /* Red */
#{{container}} span.reverse.b2 { color: #859900; } /* Green */
#{{container}} span.reverse.b3 { color: #b58900; } /* Yellow */
#{{container}} span.reverse.b4 { color: #268bd2; } /* Blue */
#{{container}} span.reverse.b5 { color: #d33682; } /* Magenta */
#{{container}} span.reverse.b6 { color: #2aa198; } /* Cyan */
#{{container}} span.reverse.b7 { color: #eee8d5; } /* White */
#{{container}} span.reverse.bb0 { color: #002b36; } /* Bright Black */
#{{container}} span.reverse.bb1 { color: #cb4b16; } /* Bright Red */
#{{container}} span.reverse.bb2 { color: #586e75; } /* Bright Green */
#{{container}} span.reverse.bb3 { color: #657b83; } /* Bright Yellow */
#{{container}} span.reverse.bb4 { color: #839496; } /* Bright Blue */
#{{container}} span.reverse.bb5 { color: #6c71c4; } /* Bright Magenta */
#{{container}} span.reverse.bb6 { color: #93a1a1; } /* Bright Cyan */
#{{container}} span.reverse.bb7 { color: #fdf6e3; } /* Bright White */

#{{container}} span.encircle {
    border: .1em;
    border-radius: .7em;
    -moz-border-radius: 1em;
    display: inline-block;
    margin-right: -0.15em; /* Because we scale it down to make the box normal-sized we have to move it to the left slightly to have it line up properly */
    border-color: #BBB;
    border-style: solid;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.rightline {
    border-right: .2em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    margin-right: -0.2em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.rightdoubleline {
    border-right: .3em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: double;
    margin-right: -0.3em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.leftline {
    border-left: .2em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-style: solid;
    margin-right: -0.2em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.leftdoubleline {
    border-left: .3em;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-style: double;
    margin-right: -0.3em;
    display: inline-block;
    /* WebKit */
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform: scale(.9);
    /* Firefox */
    -moz-transition: -moz-transform 1s ease-in-out;
    -moz-transform: scale(.9);
    /* IE9+ */
    -ms-transition: -ms-transform 1s ease-in-out;
    -ms-transform: scale(.9);
    /* Opera */
    -o-transition: -o-transform 1s ease-in-out;
    -o-transform: scale(.9);
    /* Future CSS3 standard */
    transition: transform 1s ease-in-out;
    transform: scale(.9);
}
#{{container}} span.bold { font-weight: bold; }
#{{container}} span.dim { opacity: 0.7; }
#{{container}} span.hidden { color: transparent !important;}
#{{container}} span.underline { text-decoration: underline; }
#{{container}} span.overline { text-decoration: overline; }
#{{container}} span.italic { font-style: italic; }
#{{container}} span.strike { text-decoration: line-through; }
#{{container}} span.frame {
    /* An inset shadow emulates a border without making the box bigger */
    -moz-box-shadow: inset 0.1em 0.1em 0.3em #000;
    -webkit-box-shadow: inset 0.1em 0.1em 0.3em #000;
    box-shadow: inset 0.1em 0.1em 0.3em #000;
}
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@-moz-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
#{{container}} span.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 1s;
}
#{{container}} span.fastblink {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 0.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 0.5s;
}
#{{container}} span.clickable { /* Give emphasis to things we've added onclick events to */
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#{{container}} span.clickable:hover {
    cursor: pointer;
}
/* Syntax highlighting classes below */
#{{container}} span.colheader { font-weight: bold; }
#{{container}} span.row { display: inline-block; width: 100%; }
/* The below item was commented because it doesn't work properly in Firefox; ugliness. */
/* #{{container}} span.row:hover { background-color: rgba(9, 38, 173, 0.2); } */
#{{container}} span.selectedrow { background-color: rgba(64, 166, 166, 0.2); }
#{{container}} span.date { font-weight: bold; }
#{{container}} span.time { color: #169416; font-weight: bold; }
#{{container}} span.hostname { color: #008DCE; font-weight: bold; }
#{{container}} span.service { color: #C56300; font-weight: bold; }
#{{container}} span.string { color: #0AAC0A; }
#{{container}} span.crit { font-weight: bold; color: #D50000; }
#{{container}} span.error { color: #D50000; }
#{{container}} span.warn { color: #B97800; }
#{{container}} span.info { /* Defaults are probably fine for info */ }
#{{container}} span.debug { color: #919191; }
