/* Terminal solarized theme */
#{{container}} .terminal {
    line-height: 1;
    height: 100%; /* NOTE: This is important for the getRowsAndColumns() calculation */
    position: absolute;
{% if embedded %}
    width: 100%;
    right: 0;
{% else %}
    width: calc(100% - 2em);
    width: -webkit-calc(100% - 2em);
    right: 2em;
{% end %}
    * { color:#839496; }
    h1,h2,h3,h4,h5,h6 { color:#93a1a1; border-color: #839496; }
    -webkit-transition-property: -webkit-transform, height, width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: -webkit-transform, height, width;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-property: -webkit-transform, height, width;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: ease-in-out;
    transition-property: -webkit-transform, height, width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
#{{container}} .✈inactive span.cursor {
    border: 1px #fff solid;
    background-color: transparent;
}
#{{container}} .terminal a {
    color: #93a1a1;
}
#{{container}} .terminal a:visited {
    color: #93a1a1;
}
#{{container}} .terminal pre {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #002b36;
    color: #839496;
    font-size: 0.9em; /* For some reason when you use a .woff font it seems to show up slightly larger than it would normally */
    line-height: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    white-space: pre;
    word-break: normal;
    word-wrap: normal; /* If this gets set to 'break-word' it might as well be 'break-everything' :) */
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}
#{{container}} .✈terminfo {
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}
/* The "reverse" default needs to be set in the theme since the background will vary */
#{{container}} span.reverse { color: #002b36; background-color: #839496; }
#{{container}} span.cursor { color: #002b36; background-color: #eee8d5; }
